.online-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    cursor: pointer;

    .online-container {
        position: relative;

        img {
            width: 40px;
            height: 40px;
        }

        .online-badge {
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background-color: #2ecc40;
            border-radius: 50%;
            border: 1px solid white;
            object-fit: cover;
        }
    }
    .username {
        span {
            margin-left: 10px;
            font-weight: 500;
        }
    }
}
