@import "_settings.scss";

.detail-header-menu {
    margin: 30px 12% 0px 12%;
    border-top: 1px solid $fds-gray-30;
    .header-menu-icons {
        margin-top: 5px;
        display: flex;
        align-items: center;
        .menu-icon {
            margin-right: 2px;
        }
    }
}

@media (max-width: 766px) {
    .detail-header-menu {
        margin: 30px 0;
        .header-menu-icons {
            align-items: center;
            justify-content: center;
        }
    }
}
