@import "_settings.scss";

.input-search {
    display: flex;
    outline: none;
    border: none;
    border-radius: 50px;
    align-items: center;
    background-color: $fds-gray-10;

    input {
        outline: none;
        border: none;
        width: 80%;
        font-size: 16px;
        height: 30px;
        background-color: inherit;
        margin: 5px 20px 5px 0;
        padding-left: 5px;
    }

    .input-search-icon {
        margin: 5px 0 5px 10px;
        color: #606770;
    }
}
