@import "_settings.scss";

.notifies-box {
    position: fixed;
    width: 25vw;

    top: $navigation-height;
    right: 20px;
    z-index: 10000;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
    padding: 10px;
    .notifies-box-header {
        margin: 10px 5px;
    }
    .notifies-box-content {
        width: 100%;
        max-height: 75vh;
        overflow-y: scroll;
    }

    .notifies-footer {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        height: 40px;

        .clear-notifies {
            border: none;
            outline: none;
            width: 100%;
            font-size: 18px;
            color: white;
            background-color: $base-cherry;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
